<div class="nav-bar">
    <div class="logo">
        <img src="/images/logo-blanco.png" alt="Tralix Logo">
    </div>/
    <!-- Aun falta añadir redirecciones a varios botones... -->
    <nav class="main-nav-bar">
        <a href="#">Directorio</a>
        <a href="#">Top</a>
        <div class="buscar">
            <input class="buscar" type="text" placeholder="Buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <a href="#">Iniciar sesión</a>
        <div class="top-right-menu">
            <div class="carita">
                <a href="/register">
                    <i class="fa-regular fa-user"></i>
                </a>   
            </div>
            <span class="divider">|</span>
            <i class="fa-solid fa-bars fa-2xl icon-big"></i>
        </div>
    </nav>
</div>