:root {
  --azulito: #00bbf9;
  --negrito: #141414;
  --blanquito: #f1f0ec;
  --violeta-claro: #782d44;
  --marronsito: #b03a35;
  --rojito: #f10909ec;
  --texto: Comfortaa;
  --titulos: Poppins;
}
main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------CARRUSEL_GRANDE----------------------*/
.carrusel-grande {
  width: 100%;
  max-width: 1280px;
  background-color: var(--negrito);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.carrusel-contenido {
  display: flex;
  flex: 1;
}

.img-grande {
  flex: 1.3;
}

.img-grande img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.info {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  color: #fff;
}

.logo-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-home img {
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

.descripcion p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #ccc;
}

.botones {
  display: flex;
  gap: 1rem;
}

.botones .btn-ver,
.botones .btn-trailer {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-ver {
  background-color: var(--azulito);
  color: var(--negrito);
}

.btn-trailer {
  background-color: var(--azulito);
  color: var(--negrito);
}

.btn-trailer:hover {
  background-color: #009fd6;
  box-shadow: 0px 0px 15px var(--azulito);
}
.btn-ver:hover {
  background-color: #009fd6;
  box-shadow: 0px 0px 15px var(--azulito);
}

/*----------------------CARRUSELES_PEQUEÑOS----------------------*/

.carrusel-estatico {
  width: 85%;
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta {
  width: 160px;
  overflow: hidden;
  text-align: center;
  font-family: var(--texto);
  color: var(--blanquito);
  position: relative;
  overflow: visible;
}

.poster {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.puntuacion {
  position: absolute;
  bottom: 48px;
  left: -7px;
  background-color: #1d1d1d;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ff90;
  font-weight: bold;
  font-size: 0.9rem;
  border: 2px solid #00ff90;
}
.titulo,
.fecha {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin: 0;
}

/*Falta que cuando se haga hover se note que estas subre una carta....*/
.tarjeta:hover .titulo,
.tarjeta:hover .fecha {
  opacity: 1;
}

.titulo {
  font-size: 1rem;
  font-family: var(--titulos);
}

.fecha {
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 0.8rem;
}
