<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/detalles.css">
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="contenedor-detalle">
            <div class="imagen-poster">

                <img class="poster" src="/images/Arcane.jpg" alt="Arcane Poster" />
            </div>
            <div class="info">
                <div class="titulo-linea">
                    <h1>ARCANE</h1>
                    <div class="iconos">
                        <span class="estrella">⭐</span>
                        <span class="puntuacion">9.0 / 10</span>
                        <span class="favorito"><i class="fa-solid fa-bookmark"></i></span>
                    </div>
                </div>

                <p class="descripcion">
                    En las ciudades gemelas de Piltover y Zaun, separadas por el lujo y el abandono, dos hermanas, Vi y
                    Powder (más tarde conocida como Jinx), crecen en medio de tensiones sociales, políticas y
                    tecnológicas. Cuando un conflicto violento estalla entre ambas ciudades por el control de una nueva
                    forma de magia llamada hextech, sus vidas toman caminos opuestos. La historia sigue su
                    transformación mientras las tensiones escalan y antiguos lazos familiares se rompen, enfrentándolas
                    como enemigas en lados contrarios de una guerra que marcará el destino de todos. Arcane mezcla
                    animación de vanguardia con una narrativa profunda sobre traición, identidad y el poder de las
                    decisiones personales.
                </p>
                <div class="tabla-info">
                    <div><span class="etiqueta">Tipo:</span> Serie de televisión animada</div>
                    <div><span class="etiqueta">Género:</span> Acción, Aventura, Ciencia ficción, Drama</div>
                    <div><span class="etiqueta">Categoría:</span> Serie animada, Fantasía, Steampunk</div>
                    <div><span class="etiqueta">Estudios:</span> Riot Games, Fortiche Production</div>
                    <div><span class="etiqueta">Idiomas:</span> Inglés (original), disponible en varios idiomas</div>
                    <div><span class="etiqueta">Episodios:</span> 18 (9 por temporada)</div>
                    <div><span class="etiqueta">Duración:</span> Aproximadamente 40 minutos por episodio</div>
                    <div><span class="etiqueta">Estado:</span> Finalizada</div>
                </div>
            </div>
        </div>


    </main>
</body>

</html>