<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
  <main 
  id="detalles">
  <div class="card">
    <div class="poster">
      <img src="/images/breaking bad.jpeg" alt="">

    </div>
    <div class="info">
      <h1>BREAKING BAD <span class="rating">⭐ 9.5</span></h1>
      <p>
        El profesor calmado de química de una secundaria, Walter White cree que su vida no puede ser peor. Su salario apenas le alcanza para sostener a su familia...
      </p>

      <ul>
        <li><strong>Tipo:</strong> Serie de televisión</li>
        <li><strong>Género:</strong> Drama, Crimen, Suspenso</li>
        <li><strong>Categoría:</strong> Serie de culto, Drama criminal</li>
        <li><strong>Estudios:</strong> AMC (Productora original), Sony Pictures Television</li>
        <li><strong>Idiomas:</strong> Inglés (original), disponible en varios idiomas</li>
        <li><strong>Episodios:</strong> 62 episodios</li>
        <li><strong>Duración:</strong> Aprox. 47 minutos por episodio</li>
        <li><strong>Estado:</strong> Finalizada (se emitió entre 2008 y 2013)</li>
      </ul>
    </div>
  </div>
</main>  

</body>

</html>