<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/top.css">
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="anime-grid">
        <div class="anime-card">
            <span class="rank gold">1</span>
            <img src="/images/fll.jpeg" alt="Fullmetal Alchemist: Brotherhood">
            <div class="title">Fullmetal Alchemist: Brotherhood</div>
        </div>

        <div class="anime-card">
            <span class="rank silver">2</span>
            <img src="/images/snk.jpg" alt="Attack on Titan">
            <div class="title">Attack on Titan</div>
        </div>

        <div class="anime-card">
            <span class="rank bronze">3</span>
            <img src="/images/deat.jpeg" alt="Death Note">
            <div class="title">Death Note</div>
        </div>

        <div class="anime-card">
            <span class="rank gray">4</span>
            <img src="/images/jjk.jpg" alt="Jujutsu Kaisen">
            <div class="title">Jujutsu Kaisen</div>
        </div>

        <div class="anime-card">
            <span class="rank gray">5</span>
            <img src="/images/demon.jpeg" alt="Demon Slayer">
            <div class="title">Demon Slayer</div>
        </div>

        <div class="anime-card">
            <span class="rank gray">6</span>
            <img src="/images/onep.jpeg" alt="One Piece">
            <div class="title">One Piece</div>
        </div>

        <div class="anime-card">
            <span class="rank gray">7</span>
            <img src="/images/st.jpeg" alt="Steins;Gate">
            <div class="title">Steins;Gate</div>
        </div>

        <div class="anime-card">
            <span class="rank gray">8</span>
            <img src="/images/hxh.jpg" alt="Hunter x Hunter">
            <div class="title">Hunter x Hunter</div>
        </div>

        <div class="anime-card">
            <span class="rank gray">9</span>
            <img src="/images/sl.jpeg" alt="Solo Leveling">
            <div class="title">Solo Leveling</div>

        </div>

        <div class="anime-card">
            <span class="rank gray">10</span>
            <img src="/images/bk.jpeg" alt="My Hero Academia">
            <div class="title">My Hero Academia</div>
        </div>
    </div>

</body>

</html>